body {
    font-family: 'Roboto';
    width: 400px;
    margin: 0;
}

header {
    font-size: 20px;
    margin: 0;
    padding: 10px;
    text-align: center;
    background-color: #2c3e50;
    color: #bdc3c7;
}

.tbui___header span {
    margin: 10px;
    padding: 10px;
}

.tbui___top h2 {
    text-align: center;
    font-size: 20px;
}

/* .create-todo {
    text-align: center;
    justify-content: center;
} */

.new-item {
    text-align: center;
    justify-content: center;
}

button {
    background-color: #f1c40f;
    border: none;
    color: #34495e;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    font-size: 20px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type=text] {
    font-size: 25px;
    border: none;
    border-bottom: 2px solid #555;
    border-radius: 8px;
    margin: 10px;
}

input[type=text]:hover {
    font-size: 30px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.todo-items {
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: pointer;
}

.todo-items li {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.todo-items li:hover {
    background-color: silver;
}

.todo-items li.done .item {
    text-decoration: line-through;
}

.todo-items li.undo .item {
    text-decoration: none;
}

ul li {
    font-size: 16px;
}

ul li:hover {
    font-size: x-large;
}

.tbui___contact a img{
    width: 20px;
    margin: 20px 20px 20px 50px;
}

footer {
    font-size: 15px;
    text-align: center;
}